* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    padding-top: 40px;
}

.content__info {
    margin-top: 84px;
    margin-bottom: 162px;
}

.footer {
    padding-top: 96px;
    padding-bottom: 96px;
}